openapi: 3.2.0
info:
  title: Amazon Route 53 Health Checks API
  description: Amazon Route 53 is a highly available and scalable Domain Name System (DNS) web service that provides DNS routing, domain name registration, and health checking capabilities. It connects user requests to internet applications running on AWS or on-premises infrastructure.
  version: 2013-04-01
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: Amazon Web Services
    url: https://aws.amazon.com/route53/
servers:
- url: https://route53.amazonaws.com
  description: Amazon Route 53 production endpoint
security:
- aws_sig_v4: []
tags:
- name: Health Checks
  description: Operations for managing health checks.
paths:
  /2013-04-01/healthcheck:
    post:
      operationId: CreateHealthCheck
      summary: Amazon Route 53 Create a health check
      description: Creates a new health check that monitors the health and performance of your web applications, web servers, and other resources.
      tags:
      - Health Checks
      requestBody:
        required: true
        content:
          application/xml:
            schema:
              $ref: '#/components/schemas/CreateHealthCheckRequest'
      responses:
        '201':
          description: Health check created successfully
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/CreateHealthCheckResponse'
        '400':
          description: Bad request
        '409':
          description: Health check already exists
    get:
      operationId: ListHealthChecks
      summary: Amazon Route 53 List health checks
      description: Retrieves a list of the health checks that are associated with the current AWS account.
      tags:
      - Health Checks
      parameters:
      - name: marker
        in: query
        description: The value to use for the marker parameter in a subsequent request.
        schema:
          type: string
      - name: maxitems
        in: query
        description: The maximum number of health checks to include in the response.
        schema:
          type: integer
      responses:
        '200':
          description: List of health checks
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/ListHealthChecksResponse'
        '400':
          description: Bad request
  /2013-04-01/healthcheck/{HealthCheckId}:
    get:
      operationId: GetHealthCheck
      summary: Amazon Route 53 Get health check details
      description: Gets information about a specified health check.
      tags:
      - Health Checks
      parameters:
      - name: HealthCheckId
        in: path
        required: true
        description: The ID of the health check to retrieve.
        schema:
          type: string
      responses:
        '200':
          description: Health check details
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/GetHealthCheckResponse'
        '404':
          description: Health check not found
components:
  schemas:
    GetHealthCheckResponse:
      type: object
      properties:
        HealthCheck:
          $ref: '#/components/schemas/HealthCheck'
    ListHealthChecksResponse:
      type: object
      properties:
        HealthChecks:
          type: array
          items:
            $ref: '#/components/schemas/HealthCheck'
        Marker:
          type: string
        IsTruncated:
          type: boolean
        NextMarker:
          type: string
        MaxItems:
          type: integer
    CreateHealthCheckRequest:
      type: object
      properties:
        CallerReference:
          type: string
          description: A unique string that identifies the request.
        HealthCheckConfig:
          type: object
          properties:
            IPAddress:
              type: string
            Port:
              type: integer
            Type:
              type: string
              enum:
              - HTTP
              - HTTPS
              - HTTP_STR_MATCH
              - HTTPS_STR_MATCH
              - TCP
              - CALCULATED
              - CLOUDWATCH_METRIC
              - RECOVERY_CONTROL
            ResourcePath:
              type: string
            FullyQualifiedDomainName:
              type: string
            RequestInterval:
              type: integer
            FailureThreshold:
              type: integer
          required:
          - Type
      required:
      - CallerReference
      - HealthCheckConfig
    CreateHealthCheckResponse:
      type: object
      properties:
        HealthCheck:
          $ref: '#/components/schemas/HealthCheck'
    HealthCheck:
      type: object
      description: A complex type that contains information about a health check.
      properties:
        Id:
          type: string
          description: The identifier that Amazon Route 53 assigned to the health check.
        CallerReference:
          type: string
          description: A unique string that you specified when you created the health check.
        LinkedService:
          type: object
          properties:
            ServicePrincipal:
              type: string
            Description:
              type: string
        HealthCheckConfig:
          type: object
          description: Configuration for the health check.
          properties:
            IPAddress:
              type: string
              description: The IPv4 or IPv6 IP address of the endpoint to check.
            Port:
              type: integer
              description: The port on the endpoint to check.
            Type:
              type: string
              description: The type of health check.
              enum:
              - HTTP
              - HTTPS
              - HTTP_STR_MATCH
              - HTTPS_STR_MATCH
              - TCP
              - CALCULATED
              - CLOUDWATCH_METRIC
              - RECOVERY_CONTROL
            ResourcePath:
              type: string
              description: The path to request when performing health checks.
            FullyQualifiedDomainName:
              type: string
              description: The fully qualified domain name of the endpoint to check.
            RequestInterval:
              type: integer
              description: The number of seconds between health checks of the endpoint.
              enum:
              - 10
              - 30
            FailureThreshold:
              type: integer
              description: The number of consecutive health checks that must fail before Route 53 considers the endpoint unhealthy.
            EnableSNI:
              type: boolean
              description: Whether to send the value of FullyQualifiedDomainName to the endpoint in the client_hello message during TLS negotiation.
        HealthCheckVersion:
          type: integer
          description: The version of the health check.
      required:
      - Id
      - CallerReference
      - HealthCheckConfig
  securitySchemes:
    aws_sig_v4:
      type: apiKey
      name: Authorization
      in: header
      description: AWS Signature Version 4 authentication
